<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="Keywords" content=""/>
    <!-- QQ -->
    <meta name="x5-fullscreen" content="true" />
    <!-- UC -->
    <meta name="full-screen" content="yes" />
    <title></title>
    <link rel="stylesheet" href="./index.css" />
    <style>
      *{
          list-style:none;
      }
      i{
          font-size:16px;
          font-weight:700;
      }
      .item{
          margin-bottom:15px;
      }
      .attr:before{
          content:attr(data-title);
          display:block;
      }
    </style>
</head>
<body>
    <h2>字体名:{{fontName}}</h2>
    <ul>
    {% for item in icons %}
    <li className="item">
        <p><span class="{{prefix+item.name}}"></span></p>
        <p class="attr" data-title="className:">{{prefix+item.name}}</p>
        <p data-title="code:">\{{(item.code).toString(16)}}</p>
    </li>
    {% endfor %}
    </ul>
</body>
</html>